.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem 0 1.5rem;
  z-index: 9;
  background-image: url("/assets/svg/side_bar.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(-100%);
  transition: all 0.4s ease;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
}
.sidebar-logo {
  text-align: center;
  img {
    width: 4rem;
    height: auto;
  }
}
.sidebar-footer {
  text-align: center;
  img {
    width: 7rem;
    height: auto;
  }
}
.sidebar-contents {
  // background: rgb(120, 80, 80);
  width: 200px;
  height: 100%;
  padding: 3rem 0;
  overflow-x: hidden;
  overflow-y: auto;
  .nav-item {
    margin-bottom: 2rem;
    cursor: pointer;
  }
  .navlink-active {
    position: relative;
    .nav-link {
      color: #0097f1;
    }
    path:first-child {
      stroke: #000066;
      fill: #0097f1;
    }
    path:nth-child(2) {
      stroke: #000066;
      fill: #0097f1;
    }
    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      height: 100%;
      width: 2.5px;
      background-color: #0097f1;
    }
  }
  .nav-link {
    display: inline-flex;
    align-items: center;
    text-transform: capitalize;
    color: #fff;
    .nav-icon {
      margin-right: 0.6rem;
      width: 22px;
      display: flex;
    }
    &:hover {
      color: #00A6FF;
      path:first-child {
        stroke: #000066;
        fill: #00A6FF;
      }
      path:nth-child(2) {
        stroke: #000066;
        fill: #00A6FF;
      }
    }
  }
}
.sidebar-contents::-webkit-scrollbar {
  display: none;
}

@media (min-width: 992px) {
  .sidebar {
    transform: translateX(0);
  }
}
