<aside class="sidebar">
  <div class="sidebar-logo">
    <img src="assets/images/Logo.png" alt="lagferry logo" />
  </div>
  <div class="sidebar-contents">
    <ul class="nav-list">
      <li class="nav-item" [routerLink]="['/dashboard']" [routerLinkActive]="'navlink-active'">
        <a class="nav-link" title="Dashboard">
          <svg-icon src="assets/icons/dashboard-icon.svg" [svgClass]="'nav-icon'" [applyClass]="true"></svg-icon>
          Dashboard
        </a>
      </li>

      <li class="nav-item" [routerLink]="['/map']" [routerLinkActive]="'navlink-active'">
        <a class="nav-link" title="Map">
          <svg-icon src="assets/icons/map-icon.svg" [svgClass]="'nav-icon'" [applyClass]="true"></svg-icon>
          Map
        </a>
      </li>

      <li class="nav-item" [routerLink]="['/users']" [routerLinkActive]="'navlink-active'">
        <a class="nav-link" title="users">
          <svg-icon src="assets/icons/users-icon.svg" [svgClass]="'nav-icon'" [applyClass]="true"></svg-icon>
          Users
        </a>
      </li>

      <li class="nav-item" [routerLink]="['/schedule']" [routerLinkActive]="'navlink-active'">
        <a class="nav-link" title="Schedule">
          <svg-icon src="assets/icons/schedule-icon.svg" [svgClass]="'nav-icon'" [applyClass]="true"></svg-icon>
          Schedule
        </a>
      </li>

      <!-- <li class="nav-item" [routerLink]="['/crew-members']" [routerLinkActive]="'navlink-active'">
        <a class="nav-link" title="Crew Members">
          <svg-icon src="assets/icons/users-icon.svg" [svgClass]="'nav-icon'" [applyClass]="true"></svg-icon>
          Crew Members
        </a>
      </li> -->

      <li class="nav-item" [routerLink]="['/boats']" [routerLinkActive]="'navlink-active'">
        <a class="nav-link" title="Boats">
          <svg-icon src="assets/icons/boat-icon.svg" [svgClass]="'nav-icon'" [applyClass]="true"></svg-icon>
          Boats
        </a>
      </li>



      <!-- <li class="nav-item" [routerLink]="['/monitor']" [routerLinkActive]="'navlink-active'">
        <a class="nav-link" title="Monitor">
          <svg-icon src="assets/icons/monitor-icon.svg" [svgClass]="'nav-icon'" [applyClass]="true"></svg-icon>
          Monitor
        </a>
      </li> -->

       <li class="nav-item" [routerLink]="['/routes']" [routerLinkActive]="'navlink-active'">
        <a class="nav-link" title="Routes">
          <svg-icon src="assets/icons/route-icon.svg" [svgClass]="'nav-icon'" [applyClass]="true"></svg-icon>
          Routes
        </a>
      </li>

      <!-- <li class="nav-item" [routerLink]="['/feedback']" [routerLinkActive]="'navlink-active'">
        <a class="nav-link" title="Feedback">
          <svg-icon src="assets/icons/reports-icon.svg" [svgClass]="'nav-icon'" [applyClass]="true"></svg-icon>
          Feedback
        </a>
      </li> -->

       <li class="nav-item" [routerLink]="['/reports']" [routerLinkActive]="'navlink-active'">
        <a class="nav-link" title="Reports">
          <svg-icon src="assets/icons/reports-icon.svg" [svgClass]="'nav-icon'" [applyClass]="true"></svg-icon>
          Report
        </a>
      </li>

    </ul>
  </div>
  <div class="sidebar-footer">
    <img src="assets/images/polaris-logo.png" alt="polaris logo" />
  </div>
</aside>
