<div class="page_body">

    <div class="head_buttons">
        <div class="head_buttons_left">
            <svg-icon style="cursor: pointer;" src="/assets/icons/navigation-arrow.svg" [routerLink]="['/boats']"></svg-icon>
            <button class="head_buttons_left_boat" (click)="goto('/boats')">Boats</button>
            <button class="head_buttons_left_crew" (click)="goto('/crew-members')">Crew Members</button>
        </div>

        <!-- <div class="head_buttons_right">
        <button (click)="createBoatDialog()">
          <svg-icon src="/assets/icons/plus.svg" class="me-1"></svg-icon>
          Add New Boat
        </button>
      </div> -->
    </div>

    <div class="banner">
        <div class="banner_img">
            <img src="assets/images/boat_detail.png" alt="">
        </div>
    </div>

    <div class="row">
        <div class="boat_info col-md-6">
            <div class="mt-3 d-flex">
                <div class="">
                    <h3 class="mb-2 fw-bold boat_info_text_header">MF-Akran</h3>
                </div>
                <div class="">
                    <button class="fw-bold btn boat_info_btn_primary"><i class="fa fa-edit fa-1x" style="margin-right: 10px;" aria-hidden="true"></i>Edit</button>
                </div>
            </div>
            <div class="d-flex">
                <p class="mb-1" style="margin-right: 15px;"><i class="fa fa-server fa-1x" style="margin-right: 5px; color: #00A6FF;" aria-hidden="true"></i>LAG56908765</p>
                <p class="mb-1"><i class="fa fa-clock fa-1x" style="margin-right: 5px; color: #00A6FF;" aria-hidden="true"></i>25Km/hr</p>
            </div>
            <div class="">
                <p><i class="fa fa-dumbbell fa-1x" style="margin-right: 5px; color: #00A6FF;" aria-hidden="true"></i>25Kg</p>
            </div>
        </div>
        <div class="boat_info col-md-6">
            <div class="mt-3" style="padding-right: 30px;">
                <button class="fw-bold btn boat_info_btn_more" (click)="moreDetailsDialog()"><i class="fa fa-edit fa-1x" style="margin-right: 10px;" aria-hidden="true"></i>More Details</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 mt-4">
            <div class="camera">
                <div class="row">
                    <div class="col-md-6">
                        <p class="" style="font-size: 19px;">Camera</p>
                    </div>
                    <div class="col-md-6">
                        <button class="fw-bold btn camera_btn_primary"><i class="fa fa-add fa-1x" style="margin-right: 10px;" aria-hidden="true"></i>Add New</button>
                    </div>
                </div>
                <div class="row mt-2 gx-5 gy-4">
                    <div class="col-md-6">
                        <div class="card camera_card">
                            <img src="assets/images/boat_detail.png" alt="" />
                            <div class="d-flex">
                                <div class="col-md-6 px-2 py-2">
                                    <p class="mt-1 mb-0 camera_inner_text"><i class="fa fa-ship fa-1x" style="margin-right: 10px; color: #00A6FF;" aria-hidden="true"></i>MF-Akran cam. 1</p>
                                </div>
                                <div class="col-md-6 px-3 py-2">
                                    <p class="mb-0 camera_icon_danger" style="float: right;"><i class="fa fa-trash fa-1x text-danger" aria-hidden="true"></i></p>
                                    <p class="mb-0 camera_icon_primary" style="float: right; margin-right: 10px;"><i class="fa fa-expand fa-1x" style="color: #00A6FF;" aria-hidden="true"></i></p>
                                </div>
                            </div>
                            <div class="mb-2">
                                <p class="fw-thin mt-1" style="margin-left: 9px;"><i class="fa fa-camera-retro fa-1x" style="margin-right: 10px; color: #00A6FF; font-size: 18px;" aria-hidden="true"></i>Nikk-45678PL</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card camera_card">
                            <img src="assets/images/boat_detail.png" alt="" />
                            <div class="d-flex">
                                <div class="col-md-6 px-2 py-2">
                                    <p class="mt-1 mb-0 camera_inner_text"><i class="fa fa-ship fa-1x" style="margin-right: 10px; color: #00A6FF;" aria-hidden="true"></i>MF-Akran cam. 1</p>
                                </div>
                                <div class="col-md-6 px-3 py-2">
                                    <p class="mb-0 camera_icon_danger" style="float: right;"><i class="fa fa-trash fa-1x text-danger" aria-hidden="true"></i></p>
                                    <p class="mb-0 camera_icon_primary" style="float: right; margin-right: 10px;"><i class="fa fa-expand fa-1x" style="color: #00A6FF;" aria-hidden="true"></i></p>
                                </div>
                            </div>
                            <div class="mb-2">
                                <p class="fw-thin mt-1" style="margin-left: 9px;"><i class="fa fa-camera-retro fa-1x" style="margin-right: 10px; color: #00A6FF; font-size: 18px;" aria-hidden="true"></i>Nikk-45678PL</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="crew mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <p class="" style="font-size: 19px;">Crew Members</p>
                    </div>
                    <div class="col-md-6">
                        <button class="fw-bold btn crew_btn_primary"><i class="fa fa-add fa-1x" style="margin-right: 10px;" aria-hidden="true"></i>Assign More</button>
                    </div>
                </div>

                <div class="row mt-2 gx-5 gy-4">
                    <div class="col-md-4">
                        <div class="card crew_card">
                            <div class="d-flex">
                                <div class="col-md-3 px-3 py-3">
                                    <p class="crew_text_initials bg-success text-center mb-0">ER</p>
                                </div>
                                <div class="col-md-7 px-2">
                                    <p class="mb-0 fw-bold" style="font-size: 17px; margin-top: 20px">Elegbede Rianat</p>
                                    <div class="d-flex mt-1">
                                        <p class="mb-0">Captain</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">Akran</p>
                                    </div>
                                </div>
                                <div class="col-md-2 px-2 py-2">
                                    <p class="mb-0 crew_icon_danger" style="float: right;"><i class="fa fa-trash fa-1x text-danger" style="font-size: 12px;" aria-hidden="true"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card crew_card">
                            <div class="d-flex">
                                <div class="col-md-3 px-3 py-3">
                                    <p class="crew_text_initials bg-danger text-center mb-0">ER</p>
                                </div>
                                <div class="col-md-7 px-2">
                                    <p class="mb-0 fw-bold" style="font-size: 17px; margin-top: 20px">Elegbede Rianat</p>
                                    <div class="d-flex mt-1">
                                        <p class="mb-0">Captain</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">Akran</p>
                                    </div>
                                </div>
                                <div class="col-md-2 px-2 py-2">
                                    <p class="mb-0 crew_icon_danger" style="float: right;"><i class="fa fa-trash fa-1x text-danger" style="font-size: 12px;" aria-hidden="true"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card crew_card">
                            <div class="d-flex">
                                <div class="col-md-3 px-3 py-3">
                                    <p class="crew_text_initials text-center mb-0">ER</p>
                                </div>
                                <div class="col-md-7 px-2">
                                    <p class="mb-0 fw-bold" style="font-size: 17px; margin-top: 20px">Elegbede Rianat</p>
                                    <div class="d-flex mt-1">
                                        <p class="mb-0">Captain</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">Akran</p>
                                    </div>
                                </div>
                                <div class="col-md-2 px-2 py-2">
                                    <p class="mb-0 crew_icon_danger" style="float: right;"><i class="fa fa-trash fa-1x text-danger" style="font-size: 12px;" aria-hidden="true"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card crew_card">
                            <div class="d-flex">
                                <div class="col-md-3 px-3 py-3">
                                    <p class="crew_text_initials text-center mb-0">ER</p>
                                </div>
                                <div class="col-md-7 px-2">
                                    <p class="mb-0 fw-bold" style="font-size: 17px; margin-top: 20px">Elegbede Rianat</p>
                                    <div class="d-flex mt-1">
                                        <p class="mb-0">Captain</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">Akran</p>
                                    </div>
                                </div>
                                <div class="col-md-2 px-2 py-2">
                                    <p class="mb-0 crew_icon_danger" style="float: right;"><i class="fa fa-trash fa-1x text-danger" style="font-size: 12px;" aria-hidden="true"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card crew_card">
                            <div class="d-flex">
                                <div class="col-md-3 px-3 py-3">
                                    <p class="crew_text_initials bg-warning text-center mb-0">ER</p>
                                </div>
                                <div class="col-md-7 px-2">
                                    <p class="mb-0 fw-bold" style="font-size: 17px; margin-top: 20px">Elegbede Rianat</p>
                                    <div class="d-flex mt-1">
                                        <p class="mb-0">Captain</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">Akran</p>
                                    </div>
                                </div>
                                <div class="col-md-2 px-2 py-2">
                                    <p class="mb-0 crew_icon_danger" style="float: right;"><i class="fa fa-trash fa-1x text-danger" style="font-size: 12px;" aria-hidden="true"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card crew_card">
                            <div class="d-flex">
                                <div class="col-md-3 px-3 py-3">
                                    <p class="crew_text_initials bg-info text-center mb-0">ER</p>
                                </div>
                                <div class="col-md-7 px-2">
                                    <p class="mb-0 fw-bold" style="font-size: 17px; margin-top: 20px">Elegbede Rianat</p>
                                    <div class="d-flex mt-1">
                                        <p class="mb-0">Captain</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">Akran</p>
                                    </div>
                                </div>
                                <div class="col-md-2 px-2 py-2">
                                    <p class="mb-0 crew_icon_danger" style="float: right;"><i class="fa fa-trash fa-1x text-danger" style="font-size: 12px;" aria-hidden="true"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="history">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card history_card">
                            <div class="col-md-12 history_header">
                                <p class="mb-0 py-3 px-3 text-white">History</p>
                            </div>
                            <div class="col-md-12 history_inner">
                                <div class="py-2 px-3">
                                    <p class="mb-0 fw-bold">Ikorodu - Badore</p>
                                    <div class="d-flex mt-1">
                                        <p class="mb-0">John Doe</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">4.50pm</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">15km covered</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 history_inner">
                                <div class="py-2 px-3">
                                    <p class="mb-0 fw-bold">Ikorodu - Badore</p>
                                    <div class="d-flex mt-1">
                                        <p class="mb-0">John Doe</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">4.50pm</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">15km covered</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 history_inner">
                                <div class="py-2 px-3">
                                    <p class="mb-0 fw-bold">Ikorodu - Badore</p>
                                    <div class="d-flex mt-1">
                                        <p class="mb-0">John Doe</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">4.50pm</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">15km covered</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 history_inner">
                                <div class="py-2 px-3">
                                    <p class="mb-0 fw-bold">Ikorodu - Badore</p>
                                    <div class="d-flex mt-1">
                                        <p class="mb-0">John Doe</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">4.50pm</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">15km covered</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 history_inner">
                                <div class="py-2 px-3">
                                    <p class="mb-0 fw-bold">Ikorodu - Badore</p>
                                    <div class="d-flex mt-1">
                                        <p class="mb-0">John Doe</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">4.50pm</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">15km covered</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 history_inner">
                                <div class="py-2 px-3">
                                    <p class="mb-0 fw-bold">Ikorodu - Badore</p>
                                    <div class="d-flex mt-1">
                                        <p class="mb-0">John Doe</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">4.50pm</p>
                                        <p class="crew_dot mt-2" style="margin-left: 7px; margin-right: 7px"></p>
                                        <p class="mb-0">15km covered</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="trackers mt-4">
                <div class="row mb-2">
                    <div class="col-md-6">
                        <p class="" style="font-size: 19px;">Trackers</p>
                    </div>
                    <div class="col-md-6">
                        <button class="fw-bold btn trackers_btn_primary"><i class="fa fa-add fa-1x" style="margin-right: 8px;" aria-hidden="true"></i>Add New</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card trackers_card">
                            <div class="col-md-12 trackers_inner">
                                <div class="py-2 px-3 pt-3">
                                    <div class="d-flex">
                                        <div class="col-md-9">
                                            <p class="mb-0 fw-bold" style="font-size: 17px;">MF-Akran Trancker</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="mb-0" style="float: right;"><i class="fa fa-check fa-1x text-white trackers_icon_success_small" aria-hidden="true"></i></p>
                                        </div>
                                    </div>
                                    <div class="mt-1">
                                        <p class="mb-0" style="font-size: 15px;">GLK-9000987KU</p>
                                        <div class="d-flex mt-2 mb-2">
                                            <p class="mb-0 trackers_icon_danger" style="margin-right: 10px;"><i class="fa fa-trash fa-1x text-danger" aria-hidden="true"></i></p>
                                            <p class="mb-0 trackers_icon_primary"><i class="fa fa-expand fa-1x" style="color: #00A6FF;" aria-hidden="true"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 trackers_inner">
                                <div class="py-2 px-3 pt-3">
                                    <div class="d-flex">
                                        <div class="col-md-9">
                                            <p class="mb-0 fw-bold" style="font-size: 17px;">MF-Akran Trancker</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="mb-0" style="float: right;"><i class="fa fa-check fa-1x text-white trackers_icon_success_small" aria-hidden="true"></i></p>
                                        </div>
                                    </div>
                                    <div class="mt-1">
                                        <p class="mb-0" style="font-size: 15px;">GLK-9000987KU</p>
                                        <div class="d-flex mt-2 mb-2">
                                            <p class="mb-0 trackers_icon_danger" style="margin-right: 10px;"><i class="fa fa-trash fa-1x text-danger" aria-hidden="true"></i></p>
                                            <p class="mb-0 trackers_icon_primary"><i class="fa fa-expand fa-1x" style="color: #00A6FF;" aria-hidden="true"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>