<div class="update-page">
  <div class="top-page mt-5 pt-4">
    <div class="head_divs pt-4">
      <div class="head_divs_left">
        <svg-icon
          style="cursor: pointer"
          src="/assets/icons/navigation-arrow.svg"
          [routerLink]="['/users']"
        >
        </svg-icon>
      </div>
    </div>
  </div>
  <div
    style="
      background-color: white;
      height: 100vh;
      box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
      padding: 2% 20%;
    "
  >
    <div style="text-align: center; margin-bottom: 50px">
      <img
        src="assets/images/img.jpg"
        alt=""
        style="border-radius: 50%; width: 350px; height: 350px"
      />
    </div>
    <div class="d-flex" style="margin-bottom: 20px; text-align: center;">
      <i
        class="fa fa-exclamation bell-red icon"
        style="
          font-size: 12px;
          color: rgb(47, 193, 219);
          height: 20px;
          background-color: #8edcf0;
          border-radius: 50px;
          padding: 3px 6px 9px 4px;
          width: 20px;
          text-align: center;
          margin: 8px 5px 0 0;
        "
      ></i>
      <p class="fw-semibold" style="margin-top: 8px">Personal Information</p>
    </div>
    <div class="row gy-5">
      <div class="col-6">
        <div class="">
          <p style="margin: 0; font-weight: 500" class="">First Name</p>
          <i class="fa-regular fa-user"></i>
          <input type="text" name="" id="" placeholder="Enter your name here" />
        </div>
      </div>
      <div class="col-6">
        <div class="">
          <p style="margin: 0; font-weight: 500" class="">First Name</p>
          <i class="fa-regular fa-user"></i>
          <input type="text" name="" id="" placeholder="Enter your name here" />
        </div>
      </div>
      <div class="col-6">
        <div class="">
          <p style="margin: 0; font-weight: 500" class="">First Name</p>
          @
          <input type="text" name="" id="" placeholder="Enter your name here" />
        </div>
      </div>
      <div class="col-6">
        <div class="">
          <p style="margin: 0; font-weight: 500" class="">First Name</p>
          <i class="fa-solid fa-phone"></i>
          <input type="text" name="" id="" placeholder="Enter your name here" />
        </div>
      </div>
    </div>
    <div
      style="
        width: 20%;
        background-color: #00a6ff;
        color: white;
        border: none;
        padding: 12px 20px;
        border-radius: 2px;
        margin: 0 auto;

      "
    >
      Save Changes
    </div>
  </div>
</div>
