<div>
  <div class="avatar">
    <img src="assets/images/no-image.png" alt="user" />
  </div>
  <div>
    <form [formGroup]="createForm" (ngSubmit)="submit()">

      <div>
        <mat-form-field appearance="standard">
          <mat-label> First Name</mat-label>
          <input matInput formControlName="firstname" required />
          <mat-error *ngIf="createForm.controls['firstname'].invalid">
            <small>First Name is required</small>
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="standard">
          <mat-label> Last Name</mat-label>
          <input matInput formControlName="lastname" required />
          <mat-error *ngIf="createForm.controls['lastname'].invalid">
            <small>Last Name is required</small>
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="standard">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="test@example.com" formControlName="email" required>
          <mat-error *ngIf="createForm.controls['email'].invalid">
            <small>{{getErrorMessage()}}</small>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="button-row">
        <button mat-button class="login-button" type="submit">
          Create
          <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
        </button>
      </div>

    </form>
  </div>
</div>
