.button-row {
  margin: 1rem auto 1rem;
  width: 100%;
  display: flex;
}
.update-button {
  width: 100%;
  margin: auto;
  background: #0097F1;
  transition: all 0.7s ease;
  color: #fff;
}

:host ::ng-deep {

  .mat-form-field {
    width: 100%;
  }

  .mat-progress-spinner {
    width: 20px !important;
    height: 20px !important;
    display: inline-block !important;
    margin-right: 0.7rem;

    svg {
      width: 100% !important;
      height: 100% !important;
    }
    circle {
      stroke: #ffffff !important;
    }
  }
}
