<div class="row m-0 d-flex justify-content-center">
    <div class="mt-5"></div>
    <div class="col-12 col-sm-12 col-md-11 col-lg-11">
        <div class="d-flex justify-content-between align-items-end  mt-5">
            <p class="page-title">Terminals</p>

            <button mat-flat-button (click)="createTerminalDialog()">
        <svg-icon src="/assets/icons/plus.svg" class="me-1"></svg-icon>
        <span>Add Terminal</span>
      </button>
        </div>

        <div class="row m-0">

            <div class="col-12 col-sm-12 col col-md-6 col-lg-4 col-xl-4" *ngFor="let terminal of terminals">
                <div class="card-contents mt-2 mb-2 ">
                    <div class="terminalInfo d-flex" [routerLink]="[''+terminal.terminalId]">
                        <img *ngIf="terminal.image" src="{{terminal.image}}" alt="">
                        <img *ngIf="!terminal.image" src="/assets/images/terminal_thumbmil.svg" alt="">

                        <div class="ms-3">
                            <p class="card-title mb-0 mt-2">{{terminal.name}}</p>
                            <div class="d-flex">
                                <i class="fa fa-location fa-1x text-primary" style="margin-top: 10px;"></i>
                                <p class="card-subtitle mt-2 mb-1" style="font-size: 16px; margin-left: 5px;">
                                    {{terminal.description}}
                                </p>
                            </div>
                            <div class="d-flex">
                                <i class="fa fa-circle fa-1x text-primary " style="font-size: 8px; margin-top: 7px; margin-left: 3px;"></i>
                                <p class="card-subtitle mt-1" style="font-size: 14px; margin-left: 5px;">
                                    {{terminal.status}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <button mat-icon-button class="menuIcon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                        <mat-menu #menu="matMenu">
                            <button *ngIf="terminal.status === 'INACTIVE'" mat-menu-item class="menuIcon2" (click)="activateTerminal(terminal.terminalId)">
                            <span>Activate</span>
                          </button>
                            <button *ngIf="terminal.status === 'ACTIVE'" mat-menu-item class="menuIcon2" (click)="deactivateTerminal(terminal.terminalId)">
                            <span>Deactivate</span>
                          </button>
                        </mat-menu>
                    </div>
                </div>
            </div>

        </div>
    </div>