.page-title {
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: capitalize;
  vertical-align: bottom;
  color: #4b4b4b;
  margin-bottom: 0;
}
button {
  width: 120px;
  height: 30px;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0097f1;
  padding: 6px 10px;
  border: 2px solid #0097f1;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
  color: #ffffff;
  transition: all 0.7s ease;
  img,
  svg {
    vertical-align: initial;
  }
}

img {
  width: 20%;
}

.card-contents {
  padding: 1rem;
  // background: #fff;
  display: flex;
  width: 100% !important;
  background: #ffffff;
  border: 0.5px solid #dddddd81;
  box-shadow: 0px 4px 8px rgb(75 75 75 / 20%);
  border-radius: 4px;
  cursor: pointer;
  .card-title {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color: #4b4b4b;
  }
  .card-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}
.schedule-table-section {
  border: 2px solid #dcdde4;
  padding: 1rem;
  box-shadow: 0px 4px 8px rgba(75, 75, 75, 0.05);
  border-radius: 4px;
}
table {
  width: 100%;
  box-shadow: none !important;
  border-collapse: separate !important;
  border-spacing: 0 4px !important;
  background-color: transparent;
  th {
    border: none !important;
    border-spacing: 0 !important;
    text-align: center;
    vertical-align: bottom;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #4b4b4b;
  }
  td {
    text-align: center;
    text-transform: capitalize;
  }
  .tr {
    margin-bottom: 16px;
    border: 0.2px solid #b1b1b1;
    box-shadow: 0px 4px 8px rgba(75, 75, 75, 0.03);
    border-radius: 2px;
    background-color: #ffffff;
    height: 58px;
  }
  .round-table-data {
    background: #f4f8fa;
    padding: 6px 16px;
    margin-right: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 1e12px;
  }
}

@media screen and (max-width: 768px) {
  button {
    margin-right: 12px;
  }
  .page-title {
    margin-left: 12px;
  }

  .schedule-table-section {
    button {
      margin-right: 0;
    }
    .page-title {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 2560px) {
  button {
    margin-right: 14px;
  }
  .page-title {
    margin-left: 14px;
  }

  .schedule-table-section {
    button {
      margin-right: 0;
    }
    .page-title {
      margin-left: 0;
    }
  }
}
