.boat-more-details-dialog .mat-dialog-container {
    padding: 0 !important;
    margin: 0 !important;
    width: 550px;
    .close-dialog-svg {
        position: absolute;
        margin-top: -1.8rem !important;
    }
    .title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #4B4B4B;
    }
    .sub-title {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #4B4B4B;
    }
    .iconHolder {
        width: 40px;
        height: 40px;
        background-color: #EDF8FF;
        border-radius: 50%;
    }
    .icon {
        padding: 13px;
        color: #00A6FF;
    }
}

@media screen and (max-width:767px) {
    .sub-title {
        font-size: small !important;
    }
}